---
const { title, description, image, noindex = false } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const defaultTitle = 'ゆるーりサモンズボード攻略ブログ';
const defaultDesc = 'スマホゲーム「サモンズボード」の攻略ブログです。';
const defaultImage = '/ogp.jpg';
const ogImage = image ?? defaultImage;
const gtmHeadCode = `<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KHQMJQW6');</script>`;
---

<div set:html={gtmHeadCode} />

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="icon" href="/favicon.ico" sizes="32x32" />
<link rel="icon" href="/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- noindex -->
{noindex && <meta name="robots" content="noindex, nofollow" />}

<!-- Primary Meta Tags -->
<title>{title ?? defaultTitle}</title>
<meta name="title" content={title ?? defaultTitle} />
<meta name="description" content={description ?? defaultDesc} />
<meta name="ogp" content={ogImage} />

<!-- Open Graph / Facebook -->
<meta property="og:title" content={title ?? defaultTitle} />
<meta property="og:type" content="article" />
<meta property="og:url" content={Astro.url} />
<meta property="og:image" content={ogImage} />
<meta property="og:site_name" content={defaultTitle} />
<meta property="og:description" content={description ?? defaultDesc} />

<!-- X(Twitter) -->
<meta property="twitter:title" content={title ?? defaultTitle} />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:image" content={ogImage} />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:description" content={description ?? defaultDesc} />
